
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-611092465432134509.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-611092465432134509.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-611092465432134509.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-611092465432134509.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-611092465432134509.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-611092465432134509.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-611092465432134509.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-611092465432134509.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-611092465432134509.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-611092465432134509.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-611092465432134509.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-611092465432134509.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-611092465432134509.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-611092465432134509.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-611092465432134509.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-611092465432134509.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-611092465432134509.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-611092465432134509.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-611092465432134509.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-611092465432134509.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-611092465432134509.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-611092465432134509.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-611092465432134509.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-611092465432134509.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-611092465432134509.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-611092465432134509.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-611092465432134509.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-611092465432134509.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-611092465432134509.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-611092465432134509.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-611092465432134509.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-611092465432134509.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-611092465432134509.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-611092465432134509.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-611092465432134509.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-611092465432134509.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-611092465432134509.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-611092465432134509.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-611092465432134509.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-611092465432134509.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-611092465432134509.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-611092465432134509.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-611092465432134509.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-611092465432134509.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-611092465432134509.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-611092465432134509.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-611092465432134509.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-611092465432134509.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-611092465432134509.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-611092465432134509.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-611092465432134509.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-611092465432134509.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-611092465432134509.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-611092465432134509.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-611092465432134509.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-611092465432134509.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-611092465432134509.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-611092465432134509.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-611092465432134509.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-611092465432134509.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-611092465432134509.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-611092465432134509.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-611092465432134509.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-611092465432134509.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-611092465432134509.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-611092465432134509.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-611092465432134509.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-611092465432134509.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-611092465432134509.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-611092465432134509.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-611092465432134509.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-611092465432134509.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-611092465432134509.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-611092465432134509.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-611092465432134509.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-611092465432134509.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-611092465432134509.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-611092465432134509.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-611092465432134509.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-611092465432134509.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-611092465432134509.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-611092465432134509.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-611092465432134509.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-611092465432134509.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-611092465432134509.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-611092465432134509.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-611092465432134509.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-611092465432134509.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-611092465432134509.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-611092465432134509.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-611092465432134509.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-611092465432134509.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-611092465432134509.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-611092465432134509.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-611092465432134509.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-611092465432134509.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-611092465432134509 .gp-relative{position:relative}.gps-611092465432134509 .gp-z-1{z-index:1}.gps-611092465432134509 .\!gp-m-0{margin:0!important}.gps-611092465432134509 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-611092465432134509 .gp-mb-0{margin-bottom:0}.gps-611092465432134509 .gp-inline-block{display:inline-block}.gps-611092465432134509 .gp-flex{display:flex}.gps-611092465432134509 .gp-inline-flex{display:inline-flex}.gps-611092465432134509 .gp-grid{display:grid}.gps-611092465432134509 .gp-contents{display:contents}.gps-611092465432134509 .\!gp-hidden{display:none!important}.gps-611092465432134509 .gp-hidden{display:none}.gps-611092465432134509 .gp-h-auto{height:auto}.gps-611092465432134509 .gp-h-full{height:100%}.gps-611092465432134509 .gp-w-full{width:100%}.gps-611092465432134509 .gp-max-w-full{max-width:100%}.gps-611092465432134509 .gp-flex-none{flex:none}.gps-611092465432134509 .gp-shrink-0{flex-shrink:0}.gps-611092465432134509 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-611092465432134509 .gp-flex-col{flex-direction:column}.gps-611092465432134509 .gp-items-center{align-items:center}.gps-611092465432134509 .gp-justify-center{justify-content:center}.gps-611092465432134509 .gp-overflow-hidden{overflow:hidden}.gps-611092465432134509 .gp-break-words{overflow-wrap:break-word}.gps-611092465432134509 .gp-text-center{text-align:center}.gps-611092465432134509 .gp-leading-\[0\]{line-height:0}.gps-611092465432134509 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-611092465432134509 .gp-no-underline{text-decoration-line:none}.gps-611092465432134509 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611092465432134509 .gp-duration-200{transition-duration:.2s}.gps-611092465432134509 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611092465432134509 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-611092465432134509 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-611092465432134509 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-611092465432134509 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-611092465432134509 .tablet\:\!gp-hidden{display:none!important}.gps-611092465432134509 .tablet\:gp-hidden{display:none}.gps-611092465432134509 .tablet\:gp-h-auto{height:auto}.gps-611092465432134509 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-611092465432134509 .mobile\:\!gp-hidden{display:none!important}.gps-611092465432134509 .mobile\:gp-hidden{display:none}.gps-611092465432134509 .mobile\:gp-h-auto{height:auto}.gps-611092465432134509 .mobile\:gp-flex-none{flex:none}}.gps-611092465432134509 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-611092465432134509 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-611092465432134509 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-611092465432134509 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-611092465432134509 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-611092465432134509 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242424","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyL7WacbwI"}' data-id="gyL7WacbwI" id="gyL7WacbwI" data-same-height-subgrid-container class="gyL7WacbwI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:72px;--pl:20px;--pb:56px;--pr:20px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:126px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="grdP7qxcwB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gi3FobozZM"}' data-id="gi3FobozZM" id="gi3FobozZM" data-same-height-subgrid-container class="gi3FobozZM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gwfA0hmdlb gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gnM4eR-W1P"}' data-id="gnM4eR-W1P" id="gnM4eR-W1P" data-same-height-subgrid-container class="gnM4eR-W1P gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pb:24px;--mb-mobile:28px;--pb-mobile:22px;--cg:32px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="grYmcL5t2d gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_blank"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:2px;--ta:left;--ta-mobile:center" >
        <style>[data-id="gdKiEJ3hWW"].gp-button-base::before, [data-id="gdKiEJ3hWW-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gdKiEJ3hWW"]:hover::before, [data-id="gdKiEJ3hWW-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gdKiEJ3hWW" dataId="gdKiEJ3hWW" data-state="idle" aria-label="FAQ"
          
          href="#" target="_blank"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:2px;--pr:2px;--pt:8px;--pb:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#00000000;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:21px;--size-tablet:21px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none"
          class="gdKiEJ3hWW gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:21px;--size-tablet:21px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggdKiEJ3hWW_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gdKiEJ3hWW">
        button.gdKiEJ3hWW {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gyrmQx2zvi gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_blank"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:2px;--ta:left;--ta-mobile:center" >
        <style>[data-id="g4MwhrN-En"].gp-button-base::before, [data-id="g4MwhrN-En-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g4MwhrN-En"]:hover::before, [data-id="g4MwhrN-En-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g4MwhrN-En" dataId="g4MwhrN-En" data-state="idle" aria-label="Delivery Information"
          
          href="#" target="_blank"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:2px;--pr:2px;--pt:8px;--pb:8px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#00000000;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:21px;--size-tablet:21px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none"
          class="g4MwhrN-En gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:21px;--size-tablet:21px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg4MwhrN-En_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g4MwhrN-En">
        button.g4MwhrN-En {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g_7nC4hslV gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_blank"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:2px;--ta:left;--ta-mobile:center" >
        <style>[data-id="g17cH2LlQe"].gp-button-base::before, [data-id="g17cH2LlQe-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g17cH2LlQe"]:hover::before, [data-id="g17cH2LlQe-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g17cH2LlQe" dataId="g17cH2LlQe" data-state="idle" aria-label="Return &amp; Exchange&nbsp;"
          
          href="#" target="_blank"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:2px;--pr:2px;--pt:8px;--pb:8px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#00000000;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:21px;--size-tablet:21px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none"
          class="g17cH2LlQe gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:21px;--size-tablet:21px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg17cH2LlQe_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g17cH2LlQe">
        button.g17cH2LlQe {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g13IeyQdav gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_blank"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center" >
        <style>[data-id="g_-cOfRa72"].gp-button-base::before, [data-id="g_-cOfRa72-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g_-cOfRa72"]:hover::before, [data-id="g_-cOfRa72-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g_-cOfRa72" dataId="g_-cOfRa72" data-state="idle" aria-label="Contact Us"
          
          href="#" target="_blank"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:2px;--pr:2px;--pt:8px;--pb:8px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00000000;--bg:#00000000;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:21px;--size-tablet:21px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none"
          class="g_-cOfRa72 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:21px;--size-tablet:21px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg_-cOfRa72_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-g_-cOfRa72">
        button.g_-cOfRa72 {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gaV9IMsvLo"}' data-id="gaV9IMsvLo" id="gaV9IMsvLo" data-same-height-subgrid-container class="gaV9IMsvLo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:30px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:0px;--pr-tablet:30px;--cg:8px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gHEq5FKJ0z gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWSuO_vTqh"}' data-id="gWSuO_vTqh" id="gWSuO_vTqh" data-same-height-subgrid-container class="gWSuO_vTqh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:28px;--cg:16px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gOz_lWjDeW gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gd6ios3ncU" class="gp-leading-[0] gd6ios3ncU" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gd6ios3ncU" class="icon-wrapper gp-inline-flex gp-overflow-hidden gd6ios3ncU " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <a href="#" target="_blank" title rel>
          <span style="--c:#ffffff;--t:rotate(0deg);--w:47px;--w-tablet:47px;--w-mobile:47px;--h:47px;--h-tablet:47px;--h-mobile:47px;--minw:47px;--minw-tablet:47px;--minw-mobile:47px;--height-desktop:47px;--height-tablet:47px;--height-mobile:47px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="518811216802481302" xmlns="http://www.w3.org/2000/svg" width="46" height="47" viewBox="0 0 46 47" fill="none">
<rect y="0.601562" width="46" height="46" rx="23" fill="#F5F7F8" fill-opacity="0.1"/>
<path d="M23.1666 19.0848C24.2328 19.0669 25.263 19.4701 26.0339 20.2068L28.1849 18.0558C26.8274 16.7806 25.029 16.0805 23.1666 16.102C21.776 16.1015 20.4127 16.4877 19.229 17.2175C18.0453 17.9472 17.0879 18.9919 16.4639 20.2345L18.9696 22.177C19.2578 21.2874 19.8178 20.5105 20.5707 19.9557C21.3236 19.401 22.2315 19.0964 23.1666 19.0848Z" fill="white"/>
<path d="M16.4634 20.2344C15.939 21.2795 15.666 22.4326 15.666 23.6019C15.666 24.7711 15.939 25.9243 16.4634 26.9694L18.9691 25.0269C18.6555 24.1028 18.6555 23.101 18.9691 22.1769L16.4641 20.2344H16.4634Z" fill="white"/>
<path d="M25.7063 27.4033C25.1265 27.7756 24.4693 28.0104 23.7849 28.09C23.1004 28.1696 22.4069 28.0919 21.7571 27.8627C21.1073 27.6335 20.5184 27.2589 20.0353 26.7676C19.5523 26.2762 19.1879 25.681 18.9698 25.0273L16.4648 26.9698C17.0888 28.2123 18.0459 29.2568 19.2293 29.9865C20.4127 30.7163 21.7758 31.1026 23.1661 31.1023C24.9918 31.1518 26.7674 30.5017 28.1296 29.2851L25.7056 27.4033H25.7063Z" fill="white"/>
<path d="M30.2295 22.2383H23.166V25.1393H27.2025C27.119 25.5982 26.9432 26.0354 26.6859 26.4244C26.4286 26.8135 26.0951 27.1463 25.7055 27.4028L28.1295 29.2853C28.8677 28.5744 29.4482 27.7163 29.8335 26.7667C30.2187 25.817 30.4002 24.797 30.366 23.7728C30.366 23.2575 30.321 22.7445 30.2295 22.2383Z" fill="white"/>
</svg></span>
        </a>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gZ-DR0IvN1 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gQdbxlP-cp" class="gp-leading-[0] gQdbxlP-cp" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--ta:left">
      <div data-id="gQdbxlP-cp" class="icon-wrapper gp-inline-flex gp-overflow-hidden gQdbxlP-cp " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <a href="#" target="_blank" title rel>
          <span style="--c:#ffffff;--t:rotate(0deg);--w:47px;--w-tablet:47px;--w-mobile:47px;--h:47px;--h-tablet:47px;--h-mobile:47px;--minw:47px;--minw-tablet:47px;--minw-mobile:47px;--height-desktop:47px;--height-tablet:47px;--height-mobile:47px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="518811223043605654" xmlns="http://www.w3.org/2000/svg" width="46" height="47" viewBox="0 0 46 47" fill="none">
<rect y="0.601562" width="46" height="46" rx="23" fill="#F5F7F8" fill-opacity="0.1"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.125 20.2266C15.125 17.7413 17.1397 15.7266 19.625 15.7266H26.375C28.8603 15.7266 30.875 17.7413 30.875 20.2266V26.9766C30.875 29.4618 28.8603 31.4766 26.375 31.4766H19.625C17.1397 31.4766 15.125 29.4618 15.125 26.9766V20.2266ZM23 20.7891C22.4437 20.7891 21.9 20.954 21.4375 21.2631C20.9749 21.5721 20.6145 22.0113 20.4016 22.5253C20.1887 23.0392 20.133 23.6047 20.2415 24.1503C20.3501 24.6958 20.6179 25.197 21.0113 25.5903C21.4046 25.9836 21.9057 26.2515 22.4513 26.36C22.9969 26.4685 23.5624 26.4128 24.0763 26.2C24.5902 25.9871 25.0295 25.6266 25.3385 25.1641C25.6475 24.7016 25.8125 24.1578 25.8125 23.6016C25.8125 22.8558 25.5163 22.1406 24.9891 21.6132C24.4619 21.0858 23.7469 20.7894 23.0011 20.7891H23ZM26.75 18.6813C26.8887 18.5885 27.0519 18.5391 27.2188 18.5391C27.4425 18.5392 27.6573 18.6281 27.8155 18.7863C27.9737 18.9445 28.0625 19.1591 28.0625 19.3828C28.0625 19.5497 28.013 19.7128 27.9203 19.8516C27.8276 19.9903 27.6958 20.0985 27.5416 20.1623C27.3875 20.2262 27.2178 20.2429 27.0541 20.2103C26.8905 20.1778 26.7401 20.0974 26.6221 19.9794C26.5041 19.8614 26.4238 19.7111 26.3912 19.5474C26.3587 19.3837 26.3754 19.2141 26.4392 19.0599C26.5031 18.9057 26.6112 18.774 26.75 18.6813Z" fill="white"/>
</svg></span>
        </a>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-mobile:center"
      class="gMrjE-fGnn gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gR_yFmffE6" class="gp-leading-[0] gR_yFmffE6" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gR_yFmffE6" class="icon-wrapper gp-inline-flex gp-overflow-hidden gR_yFmffE6 " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <a href="#" target="_blank" title rel>
          <span style="--c:#ffffff;--t:rotate(0deg);--w:47px;--w-tablet:47px;--w-mobile:47px;--h:47px;--h-tablet:47px;--h-mobile:47px;--minw:47px;--minw-tablet:47px;--minw-mobile:47px;--height-desktop:47px;--height-tablet:47px;--height-mobile:47px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-id="518811229536388246" xmlns="http://www.w3.org/2000/svg" width="46" height="47" viewBox="0 0 46 47" fill="none">
<rect y="0.601562" width="46" height="46" rx="23" fill="#F5F7F8" fill-opacity="0.1"/>
<path d="M24.0167 31.1017V24.2594H26.3132L26.6574 21.5932H24.0174V19.8907C24.0174 19.1182 24.2312 18.5924 25.3382 18.5924L26.7504 18.5917V16.2067C26.0671 16.1344 25.3803 16.0993 24.6932 16.1017C22.6569 16.1017 21.2634 17.3444 21.2634 19.6267V21.5932H18.9609V24.2594H21.2634V31.1017H24.0167Z" fill="white"/>
</svg></span>
        </a>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gdUKOVBYof gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9kkB7T8x8"
        class="g9kkB7T8x8"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9kkB7T8x8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g9kkB7T8x8">
        .g9kkB7T8x8 {

}
.g9kkB7T8x8 p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gfG5thokxp gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"giSYJEqic7"}' data-id="giSYJEqic7" id="giSYJEqic7" data-same-height-subgrid-container class="giSYJEqic7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:7px;--cg-mobile:6px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:end;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="geVWtqG4z7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g1DWTKaotz"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776846259155 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g1DWTKaotz"
    >
      <a
        href="#" target="_blank" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg1DWTKaotz_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ1IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDUtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NSIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ1IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ1LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ1IiB0bz0iMTQ1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg1DWTKaotz_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ1IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDUtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NSIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ1IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ1LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ1IiB0bz0iMTQ1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.gg1DWTKaotz_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ1IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDUtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NSIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ1IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ1LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ1IiB0bz0iMTQ1IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.gg1DWTKaotz_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-g1DWTKaotz">
        .g1DWTKaotz {

}
.g1DWTKaotz > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gmSW4gqoQQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gLY9Bkn_p6"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776846259156 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gLY9Bkn_p6"
    >
      <a
        href="#" target="_blank" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggLY9Bkn_p6_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggLY9Bkn_p6_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggLY9Bkn_p6_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggLY9Bkn_p6_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-gLY9Bkn_p6">
        .gLY9Bkn_p6 {

}
.gLY9Bkn_p6 > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gVQTgEddxP gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gxhK2Vn-Jj"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776846259157 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gxhK2Vn-Jj"
    >
      <a
        href="#" target="_blank" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggxhK2Vn-Jj_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggxhK2Vn-Jj_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggxhK2Vn-Jj_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggxhK2Vn-Jj_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-gxhK2Vn-Jj">
        .gxhK2Vn-Jj {

}
.gxhK2Vn-Jj > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gGCS51nqLR gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gIDt9D-42m"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776846259158 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gIDt9D-42m"
    >
      <a
        href="#" target="_blank" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggIDt9D-42m_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggIDt9D-42m_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggIDt9D-42m_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggIDt9D-42m_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-gIDt9D-42m">
        .gIDt9D-42m {

}
.gIDt9D-42m > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gzC_tYfSJR gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="ggODbNsXTH"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776846259159 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ggODbNsXTH"
    >
      <a
        href="#" target="_blank" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gggODbNsXTH_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gggODbNsXTH_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.gggODbNsXTH_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDYtODUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NiIgaGVpZ2h0PSI4NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ2IiBoZWlnaHQ9Ijg1IiBmaWxsPSJ1cmwoI2ctMTQ2LTg1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ2IiB0bz0iMTQ2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.gggODbNsXTH_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:48px;--w-tablet:48px;--w-mobile:45px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
      <style id="custom-css-ggODbNsXTH">
        .ggODbNsXTH {

}
.ggODbNsXTH > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g3YwoZ6v_e"}' data-id="g3YwoZ6v_e" id="g3YwoZ6v_e" data-same-height-subgrid-container class="g3YwoZ6v_e gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#F1F3F4;--bottom:64px;--bottom-mobile:86px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--pos:fixed;--right:29px;--right-mobile:20px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--z:2;--cg:8px;--gtc:minmax(0, 12fr);--w:61px;--w-tablet:61px;--w-mobile:61px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYesmNhvyR gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#g-AwHyOG9O","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#F1F3F4;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--ta:left" >
        <style>[data-id="gmuwXP1NZf"].gp-button-base::before, [data-id="gmuwXP1NZf-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: #F1F3F4;
  
    
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
  
    }
  
      
  [data-id="gmuwXP1NZf"]:hover::before, [data-id="gmuwXP1NZf-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#g-AwHyOG9O
            target=_self
          ></a>
        <a
          data-id="gmuwXP1NZf" dataId="gmuwXP1NZf" data-state="idle" aria-label
          
          href="#g-AwHyOG9O" target="_self"
          style="--w:61px;--w-tablet:61px;--w-mobile:61px;--h:61px;--h-tablet:61px;--h-mobile:61px;--pl:17px;--pr:17px;--pt:17px;--pb:17px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--hvr-bblr:6px;--hvr-bbrr:6px;--hvr-btlr:6px;--hvr-btrr:6px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#242424;--bg:#242424;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:27px;--size-tablet:27px;--size-mobile:27px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal"
          class="gmuwXP1NZf gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:27px;--size-tablet:27px;--size-mobile:27px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg data-id="516939529479783574" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.6875 13.5C1.6875 16.6329 2.93203 19.6374 5.1473 21.8527C7.36257 24.068 10.3671 25.3125 13.5 25.3125C16.6329 25.3125 19.6374 24.068 21.8527 21.8527C24.068 19.6374 25.3125 16.6329 25.3125 13.5C25.3125 10.3671 24.068 7.36257 21.8527 5.1473C19.6374 2.93203 16.6329 1.6875 13.5 1.6875C10.3671 1.6875 7.36257 2.93203 5.1473 5.1473C2.93203 7.36257 1.6875 10.3671 1.6875 13.5ZM27 13.5C27 17.0804 25.5777 20.5142 23.0459 23.0459C20.5142 25.5777 17.0804 27 13.5 27C9.91958 27 6.4858 25.5777 3.95406 23.0459C1.42232 20.5142 0 17.0804 0 13.5C0 9.91958 1.42232 6.4858 3.95406 3.95406C6.4858 1.42232 9.91958 0 13.5 0C17.0804 0 20.5142 1.42232 23.0459 3.95406C25.5777 6.4858 27 9.91958 27 13.5ZM14.3438 19.4062C14.3438 19.63 14.2549 19.8446 14.0966 20.0029C13.9384 20.1611 13.7238 20.25 13.5 20.25C13.2762 20.25 13.0616 20.1611 12.9034 20.0029C12.7451 19.8446 12.6562 19.63 12.6562 19.4062V9.63056L9.03487 13.2536C8.87644 13.4121 8.66156 13.5011 8.4375 13.5011C8.21344 13.5011 7.99856 13.4121 7.84013 13.2536C7.68169 13.0952 7.59268 12.8803 7.59268 12.6562C7.59268 12.4322 7.68169 12.2173 7.84013 12.0589L12.9026 6.99638C12.981 6.9178 13.0741 6.85546 13.1766 6.81292C13.2791 6.77039 13.389 6.74849 13.5 6.74849C13.611 6.74849 13.7209 6.77039 13.8234 6.81292C13.9259 6.85546 14.019 6.9178 14.0974 6.99638L19.1599 12.0589C19.3183 12.2173 19.4073 12.4322 19.4073 12.6562C19.4073 12.8803 19.3183 13.0952 19.1599 13.2536C19.0014 13.4121 18.7866 13.5011 18.5625 13.5011C18.3384 13.5011 18.1236 13.4121 17.9651 13.2536L14.3438 9.63056V19.4062Z" fill="white"/>
</svg>
    </span>
  
          
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gmuwXP1NZf">
        button.gmuwXP1NZf {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-611092465432134509 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/50off-app/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=611092453906187117&sectionId=611092465432134509)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggdKiEJ3hWW_label","label":"ggdKiEJ3hWW_label","default":"FAQ"},{"type":"html","id":"gg4MwhrN-En_label","label":"gg4MwhrN-En_label","default":"Delivery Information"},{"type":"html","id":"gg17cH2LlQe_label","label":"gg17cH2LlQe_label","default":"Return &amp; Exchange&nbsp;"},{"type":"html","id":"gg_-cOfRa72_label","label":"gg_-cOfRa72_label","default":"Contact Us"},{"type":"html","id":"gg9kkB7T8x8_text","label":"gg9kkB7T8x8_text","default":"<p>Copyright © 2024 GemPages.&nbsp;</p>"},{"type":"html","id":"gg1DWTKaotz_srcSet_desktop_src","label":"gg1DWTKaotz_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/McAfee.png"},{"type":"html","id":"ggLY9Bkn_p6_srcSet_desktop_src","label":"ggLY9Bkn_p6_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/Visa.png"},{"type":"html","id":"ggxhK2Vn-Jj_srcSet_desktop_src","label":"ggxhK2Vn-Jj_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/MasterCard.png"},{"type":"html","id":"ggIDt9D-42m_srcSet_desktop_src","label":"ggIDt9D-42m_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/ApplePay.png"},{"type":"html","id":"gggODbNsXTH_srcSet_desktop_src","label":"gggODbNsXTH_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/Gpay.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}