
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-611092465163698987.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-611092465163698987.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-611092465163698987.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-611092465163698987.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-611092465163698987.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-611092465163698987.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-611092465163698987.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-611092465163698987.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-611092465163698987.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-611092465163698987.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-611092465163698987.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-611092465163698987.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-611092465163698987.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-611092465163698987.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-611092465163698987.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-611092465163698987.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-611092465163698987.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-611092465163698987.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-611092465163698987.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-611092465163698987.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-611092465163698987.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-611092465163698987.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-611092465163698987.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-611092465163698987.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-611092465163698987.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-611092465163698987.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-611092465163698987.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-611092465163698987.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-611092465163698987.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-611092465163698987.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-611092465163698987.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-611092465163698987.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-611092465163698987.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-611092465163698987.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-611092465163698987.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-611092465163698987.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-611092465163698987.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-611092465163698987.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-611092465163698987.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-611092465163698987.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-611092465163698987.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-611092465163698987.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-611092465163698987.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-611092465163698987.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-611092465163698987.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-611092465163698987.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-611092465163698987.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-611092465163698987.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-611092465163698987.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-611092465163698987.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-611092465163698987.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-611092465163698987.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-611092465163698987.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-611092465163698987.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-611092465163698987.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-611092465163698987.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-611092465163698987.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-611092465163698987.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-611092465163698987.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-611092465163698987.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-611092465163698987.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-611092465163698987.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-611092465163698987.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-611092465163698987.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-611092465163698987.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-611092465163698987.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-611092465163698987.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-611092465163698987.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-611092465163698987.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-611092465163698987.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-611092465163698987.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-611092465163698987.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-611092465163698987.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-611092465163698987.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-611092465163698987.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-611092465163698987.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-611092465163698987.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-611092465163698987.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-611092465163698987.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-611092465163698987.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-611092465163698987.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-611092465163698987.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-611092465163698987.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-611092465163698987 .-gp-translate-x-1\/2,.gps-611092465163698987 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-611092465163698987 .gp-visible{visibility:visible}.gps-611092465163698987 .gp-invisible{visibility:hidden}.gps-611092465163698987 .gp-absolute{position:absolute}.gps-611092465163698987 .gp-relative{position:relative}.gps-611092465163698987 .gp-left-1\/2{left:50%}.gps-611092465163698987 .gp-top-1\/2{top:50%}.gps-611092465163698987 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-611092465163698987 .gp-mb-0{margin-bottom:0}.gps-611092465163698987 .gp-flex{display:flex}.gps-611092465163698987 .gp-inline-flex{display:inline-flex}.gps-611092465163698987 .gp-grid{display:grid}.gps-611092465163698987 .\!gp-hidden{display:none!important}.gps-611092465163698987 .gp-hidden{display:none}.gps-611092465163698987 .gp-h-full{height:100%}.gps-611092465163698987 .gp-w-\[68px\]{width:68px}.gps-611092465163698987 .gp-w-full{width:100%}.gps-611092465163698987 .\!gp-max-w-none{max-width:none!important}.gps-611092465163698987 .gp-max-w-full{max-width:100%}.gps-611092465163698987 .gp-shrink-0{flex-shrink:0}.gps-611092465163698987 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-611092465163698987 .-gp-translate-x-1\/2,.gps-611092465163698987 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-611092465163698987 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-611092465163698987 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-611092465163698987 .gp-flex-col{flex-direction:column}.gps-611092465163698987 .gp-items-center{align-items:center}.gps-611092465163698987 .gp-justify-center{justify-content:center}.gps-611092465163698987 .gp-overflow-hidden{overflow:hidden}.gps-611092465163698987 .gp-border{border-width:1px}.gps-611092465163698987 .gp-border-transparent{border-color:transparent}.gps-611092465163698987 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-611092465163698987 .gp-bg-cover{background-size:cover}.gps-611092465163698987 .gp-bg-center{background-position:50%}.gps-611092465163698987 .gp-text-left{text-align:left}.gps-611092465163698987 .gp-opacity-100{opacity:1}.gps-611092465163698987 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611092465163698987 .gp-duration-200{transition-duration:.2s}.gps-611092465163698987 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-611092465163698987 .tablet\:\!gp-hidden{display:none!important}.gps-611092465163698987 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-611092465163698987 .mobile\:\!gp-hidden{display:none!important}.gps-611092465163698987 .mobile\:gp-hidden{display:none}}.gps-611092465163698987 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-611092465163698987 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-611092465163698987 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-611092465163698987 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-611092465163698987 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-611092465163698987 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-611092465163698987 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-611092465163698987 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-611092465163698987 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-611092465163698987 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FEFDF8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdWoIIlt78"}' data-id="gdWoIIlt78" id="gdWoIIlt78" data-same-height-subgrid-container class="gdWoIIlt78 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:42px;--pr-mobile:20px;--pt-tablet:80px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FEFDF8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCa1y0QXut gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4z0_lMjvT"}' data-id="g4z0_lMjvT" id="g4z0_lMjvT" data-same-height-subgrid-container class="g4z0_lMjvT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMnh1uIXnP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZ_lbXPcwG"
        class="gZ_lbXPcwG"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ_lbXPcwG_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ge8lH_ggL1"
        class="ge8lH_ggL1"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:790px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gge8lH_ggL1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ge8lH_ggL1">
        .ge8lH_ggL1 {

}
.ge8lH_ggL1 p {

}
      </style>
    
    <div
       data-id="g8S7lsFMD7" class="g8S7lsFMD7 !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--aspect:auto">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"auto"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/cyzh48XRS4M?autoplay=true&state=1&mute=1&controls=1","translatedVideoUrl":"{{ section.settings.gg8S7lsFMD7_youtubeUrl }}"}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article gp_lazybg"
        data-title="Video"
        style="background-image:url({{ section.settings.gg8S7lsFMD7_poster_src }});--aspect:auto"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.gg8S7lsFMD7_poster_src }}" data-src="{{ section.settings.gg8S7lsFMD7_poster_src }}" data-srcset="{{ section.settings.gg8S7lsFMD7_poster_src }}"
      id="gp-video-g8S7lsFMD7"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg gp_lazyload"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-g8S7lsFMD7">
        .g8S7lsFMD7[data-component-label="Video"] {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"goDOrB__Ne"}' data-id="goDOrB__Ne" id="goDOrB__Ne" data-same-height-subgrid-container class="goDOrB__Ne gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:32px;--mt-mobile:21px;--mt-tablet:32px;--cg:30px;--cg-tablet:30px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gR_wUcS6-L gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gK_D77tyXK ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gK_D77tyXK"
      data-id="gK_D77tyXK"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb-mobile:21px;--jc:left"
      className="gK_D77tyXK"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":73,"mobile":56,"tablet":73}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gK_D77tyXK"
                      style="--cg:30px;--cg-tablet:30px;--cg-mobile:21px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:73px;--size-tablet:73px;--size-mobile:56px"
                        >
                          <svg data-id="517933418734945430" xmlns="http://www.w3.org/2000/svg" width="73" height="74" viewBox="0 0 73 74" fill="none">
<circle cx="36.5" cy="37.1016" r="36.5" fill="#FF8852"/>
<path d="M49.1108 37.4944L55.63 35.1283C56.1233 34.9493 56.1233 34.2523 55.63 34.0733L49.1108 31.7072C46.2194 30.658 43.9435 28.3807 42.8943 25.4907L40.5282 18.9715C40.3492 18.4782 39.6522 18.4782 39.4732 18.9715L37.1071 25.4907C36.0579 28.3821 33.7806 30.658 30.8906 31.7072L24.37 34.0748C23.8767 34.2538 23.8767 34.9508 24.37 35.1298L30.8892 37.4959C33.7806 38.5451 36.0565 40.8224 37.1057 43.7124L39.4718 50.2316C39.6508 50.7249 40.3478 50.7249 40.5268 50.2316L42.8929 43.7124C43.9421 40.821 46.2194 38.5451 49.1094 37.4959L49.1108 37.4944Z" fill="#242424"/>
<path d="M27.986 50.8672L30.8381 49.832C31.054 49.7537 31.054 49.4488 30.8381 49.3705L27.986 48.3353C26.721 47.8763 25.7253 46.8799 25.2663 45.6156L24.2311 42.7634C24.1528 42.5476 23.8478 42.5476 23.7695 42.7634L22.7344 45.6156C22.2753 46.8806 21.279 47.8763 20.0146 48.3353L17.1619 49.3711C16.946 49.4494 16.946 49.7544 17.1619 49.8327L20.014 50.8678C21.279 51.3269 22.2747 52.3232 22.7337 53.5876L23.7689 56.4397C23.8472 56.6555 24.1522 56.6555 24.2305 56.4397L25.2656 53.5876C25.7247 52.3226 26.721 51.3269 27.9854 50.8678L27.986 50.8672Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:28px;--size-tablet:24px;--size-mobile:20px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggK_D77tyXK_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g9tGRn9WGR gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gcgR_gvzMz ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gcgR_gvzMz"
      data-id="gcgR_gvzMz"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb-mobile:21px;--jc:left"
      className="gcgR_gvzMz"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":73,"mobile":56,"tablet":73}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:36px;--pr-tablet:0px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gcgR_gvzMz"
                      style="--cg:30px;--cg-tablet:30px;--cg-mobile:20px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:73px;--size-tablet:73px;--size-mobile:56px"
                        >
                          <svg data-id="517933436753675414" xmlns="http://www.w3.org/2000/svg" width="73" height="74" viewBox="0 0 73 74" fill="none">
<circle cx="36.5" cy="37.1016" r="36.5" fill="#FF8852"/>
<path d="M46.7637 33.2463C43.3672 33.2075 40.3083 34.5688 38.1975 36.7547C40.965 37.1599 43.2041 38.403 44.1686 40.0246C40.656 37.8144 36.8514 37.7753 32.4556 40.4901C31.4554 41.1077 28.771 43.5021 28.7919 43.3852C31.0582 30.6554 33.5366 26.7288 33.5366 26.7288C35.561 27.4038 37.782 27.3346 39.7545 26.5355L40.4003 26.2738L44.1451 26.6717C44.1655 26.6717 44.1873 26.6713 44.2104 26.6702C45.5008 26.6062 46.0379 25.0756 45.0729 24.2673L44.568 23.8442C44.568 23.8442 45.7204 23.0795 45.7761 22.6754C45.9476 21.4323 43.9118 19.5639 43.0314 18.3772C42.5101 17.6744 41.5378 17.411 40.6991 17.7458C37.7668 18.9166 30.8616 20.5448 29.5816 22.0524C23.3499 29.3938 16.1173 37.6243 15.0048 51.3528C14.9517 52.0092 15.3423 52.627 15.9774 52.9034C15.9774 52.9034 21.3264 55.1615 23.13 55.638C32.1816 58.0284 37.163 55.3482 43.7073 54.2894C43.9063 54.2573 44.6503 54.3151 45.7019 54.4268C52.2592 55.1227 58 50.2922 58 44.0858C58 38.2047 53.0165 33.3175 46.7637 33.2461V33.2463Z" fill="#1C1C1C"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:28px;--size-tablet:24px;--size-mobile:20px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcgR_gvzMz_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gom8MNkiYy gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gdj-NcxZLF ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gdj-NcxZLF"
      data-id="gdj-NcxZLF"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--mb-mobile:0px;--jc:left"
      className="gdj-NcxZLF"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":73,"mobile":56,"tablet":73}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gdj-NcxZLF"
                      style="--cg:30px;--cg-tablet:30px;--cg-mobile:21px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:73px;--size-tablet:73px;--size-mobile:56px"
                        >
                          <svg data-id="517933428700611734" xmlns="http://www.w3.org/2000/svg" width="73" height="74" viewBox="0 0 73 74" fill="none">
<circle cx="36.5" cy="37.1016" r="36.5" fill="#FF8852"/>
<path d="M33.594 49.5169C33.594 49.5169 24.7833 22.5149 63.0002 23.6355C63.0002 23.6355 60.6434 26.8847 58.7915 32.8227C56.9395 38.7608 54.5827 52.3735 37.5225 51.365C37.5225 51.365 37.3544 38.7608 49.9807 30.6378C49.9807 30.6378 35.9229 35.0634 34.5764 56.6591H32.2852C32.2852 56.6591 32.8088 50.712 33.5946 49.5169H33.594Z" fill="#242424"/>
<path d="M33.0754 33.4319V33.4332C33.0754 33.4332 31.3115 36.2044 30.9377 41.0951C27.5396 31.5499 20.5183 29.256 20.3812 29.2118C30.4456 35.6877 30.3115 45.7357 30.3115 45.7357C16.7106 46.5395 14.8314 35.6865 13.355 30.9527C11.8781 26.2188 10 23.6287 10 23.6287C25.0614 23.1865 30.9607 28.2244 33.0754 33.4319Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:28px;--size-tablet:24px;--size-mobile:20px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdj-NcxZLF_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-611092465163698987 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/50off-app/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=611092453906187117&sectionId=611092465163698987)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZ_lbXPcwG_text","label":"ggZ_lbXPcwG_text","default":"The Advantages of the Gem Road Bike"},{"type":"html","id":"gge8lH_ggL1_text","label":"gge8lH_ggL1_text","default":"<p>The Gem's advanced engineering optimizes speed and efficiency. Ergonomic design and quality materials ensure all-day comfort.</p>"},{"type":"html","id":"gg8S7lsFMD7_youtubeUrl","label":"gg8S7lsFMD7_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"gg8S7lsFMD7_vimeoUrl","label":"gg8S7lsFMD7_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"gg8S7lsFMD7_html5Url","label":"gg8S7lsFMD7_html5Url","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"gg8S7lsFMD7_poster_src","label":"gg8S7lsFMD7_poster_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/gary-butterfield-j0LTy2MqaMA-unsplash_2.png"},{"type":"html","id":"ggK_D77tyXK_childItem_0","label":"ggK_D77tyXK_childItem_0","default":"<p>Smooth and Comfortable</p>"},{"type":"html","id":"ggcgR_gvzMz_childItem_0","label":"ggcgR_gvzMz_childItem_0","default":"<p>Health Benefits of Cycling</p>"},{"type":"html","id":"ggdj-NcxZLF_childItem_0","label":"ggdj-NcxZLF_childItem_0","default":"<p>Eco-Friendly Transportation</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}