
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-613336150727197486.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-613336150727197486.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-613336150727197486.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-613336150727197486.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-613336150727197486.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-613336150727197486.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-613336150727197486.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-613336150727197486.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-613336150727197486.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-613336150727197486.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-613336150727197486.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-613336150727197486.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-613336150727197486.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-613336150727197486.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-613336150727197486.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-613336150727197486.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-613336150727197486.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-613336150727197486.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-613336150727197486.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-613336150727197486.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-613336150727197486.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-613336150727197486.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-613336150727197486.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-613336150727197486.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-613336150727197486.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-613336150727197486.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-613336150727197486.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-613336150727197486.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-613336150727197486.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-613336150727197486.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-613336150727197486.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-613336150727197486.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-613336150727197486.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-613336150727197486.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-613336150727197486.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-613336150727197486.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-613336150727197486.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-613336150727197486.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-613336150727197486.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-613336150727197486.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-613336150727197486.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-613336150727197486.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-613336150727197486.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-613336150727197486.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-613336150727197486.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-613336150727197486.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-613336150727197486.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-613336150727197486.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-613336150727197486.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-613336150727197486.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-613336150727197486.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-613336150727197486.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-613336150727197486.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-613336150727197486.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-613336150727197486.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-613336150727197486.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-613336150727197486.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-613336150727197486.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-613336150727197486.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-613336150727197486.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-613336150727197486.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-613336150727197486.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-613336150727197486.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-613336150727197486.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-613336150727197486.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-613336150727197486.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-613336150727197486.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-613336150727197486.gps.gpsil [style*="--b-mobile:"]{border:var(--b-mobile)}.gps-613336150727197486.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-613336150727197486.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-613336150727197486.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-613336150727197486.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-613336150727197486.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-613336150727197486.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-613336150727197486.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-613336150727197486.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-613336150727197486.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-613336150727197486.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-613336150727197486.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-613336150727197486.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-613336150727197486.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-613336150727197486.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-613336150727197486.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-613336150727197486.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-613336150727197486.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-613336150727197486.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-613336150727197486.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-613336150727197486 .gp-invisible{visibility:hidden}.gps-613336150727197486 .gp-absolute{position:absolute}.gps-613336150727197486 .gp-relative{position:relative}.gps-613336150727197486 .gp-top-0{top:0}.gps-613336150727197486 .-gp-z-1{z-index:-1}.gps-613336150727197486 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-613336150727197486 .gp-mb-0{margin-bottom:0}.gps-613336150727197486 .gp-flex{display:flex}.gps-613336150727197486 .gp-grid{display:grid}.gps-613336150727197486 .\!gp-hidden{display:none!important}.gps-613336150727197486 .gp-hidden{display:none}.gps-613336150727197486 .gp-h-full{height:100%}.gps-613336150727197486 .gp-w-full{width:100%}.gps-613336150727197486 .gp-max-w-full{max-width:100%}.gps-613336150727197486 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-613336150727197486 .gp-flex-col{flex-direction:column}.gps-613336150727197486 .\!gp-content-stretch{align-content:stretch!important}.gps-613336150727197486 .gp-items-center{align-items:center}.gps-613336150727197486 .gp-justify-center{justify-content:center}.gps-613336150727197486 .\!gp-self-center{align-self:center!important}.gps-613336150727197486 .gp-self-center{align-self:center}.gps-613336150727197486 .gp-overflow-hidden{overflow:hidden}.gps-613336150727197486 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-613336150727197486 .gp-duration-200{transition-duration:.2s}.gps-613336150727197486 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-613336150727197486 .tablet\:\!gp-relative{position:relative!important}.gps-613336150727197486 .tablet\:\!gp-hidden{display:none!important}.gps-613336150727197486 .tablet\:gp-hidden{display:none}.gps-613336150727197486 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-613336150727197486 .tablet\:gp-justify-center{justify-content:center}.gps-613336150727197486 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-613336150727197486 .mobile\:\!gp-absolute{position:absolute!important}.gps-613336150727197486 .mobile\:\!gp-hidden{display:none!important}.gps-613336150727197486 .mobile\:gp-hidden{display:none}.gps-613336150727197486 .mobile\:\!gp-h-auto{height:auto!important}.gps-613336150727197486 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-613336150727197486 .mobile\:gp-justify-end{justify-content:flex-end}.gps-613336150727197486 .mobile\:\!gp-self-center{align-self:center!important}}.gps-613336150727197486 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-613336150727197486 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-613336150727197486 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-613336150727197486 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=HTxqL289NzCGg4MzN6KJ7eW6CYyF-A&skey=f0fab067ca5e2347&v=v23) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivoblack/v23/HTxqL289NzCGg4MzN6KJ7eW6CYKF_jzx13HOvQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivoblack/v23/HTxqL289NzCGg4MzN6KJ7eW6CYyF_jzx13E.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gBrMx2JNa4"}' data-id="gBrMx2JNa4" id="gBrMx2JNa4" data-same-height-subgrid-container class="gBrMx2JNa4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gTgbhsJzTZ gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gUu0qD2ueW"
        class="gUu0qD2ueW gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:var(--g-ct-w);--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}","width":2000,"height":914,"storage":"FILE_CONTENT","backupFileKey":"gempages_611092220887433747-bf0c3338-55b6-4c1c-85cc-a094cdd2d4f6.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"tablet":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}","width":2000,"height":914,"storage":"FILE_CONTENT","backupFileKey":"gempages_611092220887433747-bf0c3338-55b6-4c1c-85cc-a094cdd2d4f6.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"mobile":{"image":{"src":"{{ section.settings.ggUu0qD2ueW_background_mobile_image_src }}","width":1536,"height":1920,"storage":"FILE_CONTENT","backupFileKey":"gempages_611092220887433747-9bf93a2e-e2e9-4b80-9d0d-8ce409ba8f15.jpg"},"type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","preload":false}},"uid":"gUu0qD2ueW","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"bottom"},"contentPosition2Col":{"desktop":"center"},"sizeSetting":{"desktop":{"hiddenShape":false,"shape":"custom","width":"default","widthHeightLinked":false,"gap":"","shapeLinked":false,"shapeValue":"1200/500","height":"500px","enableVideoShape":false},"tablet":{"customShapeValue":"","gap":"","height":"","hiddenShape":false,"shape":"custom","shapeLinked":false,"shapeValue":"","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"","gap":"","height":"","hiddenShape":false,"shape":"original","shapeLinked":true,"shapeValue":"","width":"100%","enableVideoShape":false}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1200/500;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0 round 8px 8px 8px 8px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggUu0qD2ueW_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggUu0qD2ueW_background_desktop_image_src }});--bgi-mobile:url({{ section.settings.ggUu0qD2ueW_background_mobile_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggUu0qD2ueW_background_mobile_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggUu0qD2ueW_background_mobile_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:15px;--pr:15px;--pt:32px;--pb:32px;--pl-tablet:15px;--pr-tablet:15px;--pt-tablet:32px;--pb-tablet:32px;--pl-mobile:15px;--pr-mobile:15px;--pt-mobile:28px;--pb-mobile:28px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gzzN6os0RH gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGRH_E1rmD"}' data-id="gGRH_E1rmD" id="gGRH_E1rmD" data-same-height-subgrid-container class="gGRH_E1rmD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUQ4cyQRDe gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIena3_wgC"
        class="gIena3_wgC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-5xl);--pt:var(--g-s-5xl);--pl:var(--g-s-2xl);--mt-tablet:var(--g-s-5xl);--pt-tablet:var(--g-s-5xl);--pl-tablet:var(--g-s-2xl);--mt-mobile:auto;--ml-mobile:auto;--mb-mobile:auto;--mr-mobile:auto;--pt-mobile:var(--g-s-xxs);--pl-mobile:var(--g-s-xxs);--pb-mobile:var(--g-s-xxs);--pr-mobile:var(--g-s-xxs);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b-mobile:solid;--bc-mobile:var(--g-c-line-3, line-3);--bw-mobile:1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Archivo-Black, 'Archivo Black'), var(--g-font-heading, heading);--weight:400;--size:39px;--size-tablet:41px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIena3_wgC_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="gt7NqAAWz8 gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggUu0qD2ueW_background_mobile_image_src }}" srcset="{{ section.settings.ggUu0qD2ueW_background_mobile_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}" srcset="{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}" data-src="{{ section.settings.ggUu0qD2ueW_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect:1200/500;--aspect-mobile:auto;--d:none;--d-tablet:none;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-613336150727197486 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/50off-app/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=611092453906187117&sectionId=613336150727197486)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggUu0qD2ueW_background_desktop_image_src","label":"ggUu0qD2ueW_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/igogomi-image.jpg"},{"type":"html","id":"ggUu0qD2ueW_background_mobile_image_src","label":"ggUu0qD2ueW_background_mobile_image_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/0001_4d5630ec-0ba2-4a73-a95a-b9694fb95f8b.jpg"},{"type":"html","id":"ggUu0qD2ueW_background_mobile_videoHtml5","label":"ggUu0qD2ueW_background_mobile_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggIena3_wgC_text","label":"ggIena3_wgC_text","default":"INSPIRED BY LEGENDS. POWERED BY ELECTRICITY."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}