
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-611092465230807851.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-611092465230807851.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-611092465230807851.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-611092465230807851.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-611092465230807851.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-611092465230807851.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-611092465230807851.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-611092465230807851.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-611092465230807851.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-611092465230807851.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-611092465230807851.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-611092465230807851.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-611092465230807851.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-611092465230807851.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-611092465230807851.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-611092465230807851.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-611092465230807851.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-611092465230807851.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-611092465230807851.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-611092465230807851.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-611092465230807851.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-611092465230807851.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-611092465230807851.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-611092465230807851.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-611092465230807851.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-611092465230807851.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-611092465230807851.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-611092465230807851.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-611092465230807851.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-611092465230807851.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-611092465230807851.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-611092465230807851.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-611092465230807851.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-611092465230807851.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-611092465230807851.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-611092465230807851.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-611092465230807851.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-611092465230807851.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-611092465230807851.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-611092465230807851.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-611092465230807851.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-611092465230807851.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-611092465230807851.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-611092465230807851.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-611092465230807851.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-611092465230807851.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-611092465230807851.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-611092465230807851.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-611092465230807851.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-611092465230807851.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-611092465230807851.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-611092465230807851.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-611092465230807851.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-611092465230807851.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-611092465230807851.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-611092465230807851.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-611092465230807851.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-611092465230807851.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-611092465230807851.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-611092465230807851.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-611092465230807851.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-611092465230807851.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-611092465230807851.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-611092465230807851.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-611092465230807851.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-611092465230807851.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-611092465230807851.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-611092465230807851.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-611092465230807851.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-611092465230807851.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-611092465230807851.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-611092465230807851.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-611092465230807851.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-611092465230807851.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-611092465230807851.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-611092465230807851.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-611092465230807851.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-611092465230807851.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-611092465230807851.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-611092465230807851.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-611092465230807851.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-611092465230807851.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-611092465230807851.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-611092465230807851.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-611092465230807851.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-611092465230807851.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-611092465230807851.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-611092465230807851.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-611092465230807851.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-611092465230807851.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-611092465230807851.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-611092465230807851.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-611092465230807851.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-611092465230807851.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-611092465230807851.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-611092465230807851.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-611092465230807851.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-611092465230807851.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-611092465230807851.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-611092465230807851.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-611092465230807851.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-611092465230807851.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-611092465230807851.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-611092465230807851.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-611092465230807851.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-611092465230807851 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-611092465230807851 .gp-invisible{visibility:hidden}.gps-611092465230807851 .\!gp-absolute{position:absolute!important}.gps-611092465230807851 .gp-absolute{position:absolute}.gps-611092465230807851 .gp-relative{position:relative}.gps-611092465230807851 .gp-top-0{top:0}.gps-611092465230807851 .-gp-z-1{z-index:-1}.gps-611092465230807851 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-611092465230807851 .gp-mb-0{margin-bottom:0}.gps-611092465230807851 .gp-block{display:block}.gps-611092465230807851 .gp-flex{display:flex}.gps-611092465230807851 .gp-inline-flex{display:inline-flex}.gps-611092465230807851 .gp-grid{display:grid}.gps-611092465230807851 .\!gp-hidden{display:none!important}.gps-611092465230807851 .gp-hidden{display:none}.gps-611092465230807851 .gp-h-full{height:100%}.gps-611092465230807851 .gp-w-full{width:100%}.gps-611092465230807851 .gp-max-w-full{max-width:100%}.gps-611092465230807851 .gp-flex-none{flex:none}.gps-611092465230807851 .gp-shrink-0{flex-shrink:0}.gps-611092465230807851 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-611092465230807851 .gp-flex-col{flex-direction:column}.gps-611092465230807851 .gp-items-center{align-items:center}.gps-611092465230807851 .gp-justify-start{justify-content:flex-start}.gps-611092465230807851 .gp-justify-center{justify-content:center}.gps-611092465230807851 .\!gp-self-center{align-self:center!important}.gps-611092465230807851 .gp-self-center{align-self:center}.gps-611092465230807851 .gp-overflow-hidden{overflow:hidden}.gps-611092465230807851 .gp-border{border-width:1px}.gps-611092465230807851 .gp-border-transparent{border-color:transparent}.gps-611092465230807851 .gp-text-left{text-align:left}.gps-611092465230807851 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-611092465230807851 .gp-duration-200{transition-duration:.2s}.gps-611092465230807851 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-611092465230807851 .tablet\:\!gp-absolute{position:absolute!important}.gps-611092465230807851 .tablet\:gp-block{display:block}.gps-611092465230807851 .tablet\:\!gp-hidden{display:none!important}.gps-611092465230807851 .tablet\:gp-hidden{display:none}.gps-611092465230807851 .tablet\:gp-justify-center{justify-content:center}.gps-611092465230807851 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-611092465230807851 .mobile\:\!gp-absolute{position:absolute!important}.gps-611092465230807851 .mobile\:\!gp-relative{position:relative!important}.gps-611092465230807851 .mobile\:gp-block{display:block}.gps-611092465230807851 .mobile\:\!gp-hidden{display:none!important}.gps-611092465230807851 .mobile\:gp-hidden{display:none}.gps-611092465230807851 .mobile\:\!gp-h-auto{height:auto!important}.gps-611092465230807851 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-611092465230807851 .mobile\:gp-justify-end{justify-content:flex-end}.gps-611092465230807851 .mobile\:gp-justify-center{justify-content:center}.gps-611092465230807851 .mobile\:\!gp-self-center{align-self:center!important}.gps-611092465230807851 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-611092465230807851 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-611092465230807851 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-611092465230807851 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-611092465230807851 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-611092465230807851 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-611092465230807851 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-611092465230807851 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gOVYj-lUeK"}' data-id="gOVYj-lUeK" id="gOVYj-lUeK" data-same-height-subgrid-container class="gOVYj-lUeK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:10px;--pl:20px;--pb:80px;--pr:20px;--pt-tablet:10px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gk-8T0J9HB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghWEeHlwPk"}' data-id="ghWEeHlwPk" id="ghWEeHlwPk" data-same-height-subgrid-container class="ghWEeHlwPk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBxW5veS5- gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gCd5IjLeN0"
        class="gCd5IjLeN0 gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:auto;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:500px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggCd5IjLeN0_background_desktop_image_src }}","width":2000,"height":786,"storage":"FILE_CONTENT","backupFileKey":"gempages_611092220887433747-e65d64ae-9047-4802-bd0a-b98370bf14f5.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_611092220887433747-6380e1b3-56b8-4374-8e76-8ab5d7f98150.png","height":461,"src":"{{ section.settings.ggCd5IjLeN0_background_tablet_image_src }}","storage":"FILE_CONTENT","width":1200},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggCd5IjLeN0_background_tablet_video }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggCd5IjLeN0_background_mobile_image_src }}","width":1280,"height":1564,"storage":"FILE_CONTENT","backupFileKey":"gempages_611092220887433747-3df75fbd-f9b1-4430-a7de-5265d1a5fd2f.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}}},"uid":"gCd5IjLeN0","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"bottom"},"contentPosition2Col":{"desktop":"center"},"sizeSetting":{"desktop":{"shape":"original","width":"","widthHeightLinked":false,"height":"","enableVideoShape":false,"gap":"","shapeLinked":true},"tablet":{"shape":"original","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"","gap":"","height":"500px","shape":"custom","shapeLinked":false,"width":"100%","enableVideoShape":false,"shapeValue":""}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0 round 8px 8px 8px 8px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggCd5IjLeN0_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggCd5IjLeN0_background_tablet_image_src }});--bgi-mobile:url({{ section.settings.ggCd5IjLeN0_background_mobile_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggCd5IjLeN0_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggCd5IjLeN0_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggCd5IjLeN0_background_tablet_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggCd5IjLeN0_background_tablet_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggCd5IjLeN0_background_mobile_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggCd5IjLeN0_background_mobile_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:62px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:62px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0;--d-mobile:none"
      class="gi9I32htK9 gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--d-mobile:none"
      class="g55ok47F6T gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggCd5IjLeN0_background_mobile_image_src }}" srcset="{{ section.settings.ggCd5IjLeN0_background_mobile_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggCd5IjLeN0_background_tablet_image_src }}" srcset="{{ section.settings.ggCd5IjLeN0_background_tablet_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggCd5IjLeN0_background_desktop_image_src }}" data-src="{{ section.settings.ggCd5IjLeN0_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:auto;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
      <gp-hero-banner
        
        data-id="gZLlUMA-Xf"
        class="gZLlUMA-Xf gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:auto;--w-tablet:100%;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggZLlUMA-Xf_background_desktop_image_src }}","width":1852,"height":923,"storage":"FILE_CONTENT","backupFileKey":"gempages_611092220887433747-84db49c1-623f-4019-827b-0750d21ae9a1.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_611092220887433747-6380e1b3-56b8-4374-8e76-8ab5d7f98150.png","height":461,"src":"{{ section.settings.ggZLlUMA-Xf_background_tablet_image_src }}","storage":"FILE_CONTENT","width":1200},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"{{ section.settings.ggZLlUMA-Xf_background_tablet_video }}","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"src":"{{ section.settings.ggZLlUMA-Xf_background_mobile_image_src }}","width":1280,"height":1564,"storage":"FILE_CONTENT","backupFileKey":"gempages_611092220887433747-061dbc1f-cecc-4e3c-9388-b8bd3c08ed28.jpg"},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","videoType":"youtube","preload":false,"fallbackVideo":{"videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","loop":true,"videoType":"youtube"}}},"uid":"gZLlUMA-Xf","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center","mobile":"bottom"},"contentPosition2Col":{"desktop":"center"},"sizeSetting":{"desktop":{"shape":"original","width":"","widthHeightLinked":false,"height":"","enableVideoShape":false,"gap":"","shapeLinked":true},"tablet":{"shape":"original","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"","gap":"","height":"","shape":"original","shapeLinked":true,"width":"","enableVideoShape":false}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-end" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0 round 8px 8px 8px 8px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggZLlUMA-Xf_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggZLlUMA-Xf_background_tablet_image_src }});--bgi-mobile:url({{ section.settings.ggZLlUMA-Xf_background_mobile_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgc-tablet:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggZLlUMA-Xf_background_desktop_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggZLlUMA-Xf_background_desktop_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggZLlUMA-Xf_background_tablet_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggZLlUMA-Xf_background_tablet_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggZLlUMA-Xf_background_mobile_image_src }}" isNotLazyload="true" srcset base-src="{{ section.settings.ggZLlUMA-Xf_background_mobile_image_src }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:62px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:62px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:27px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:end">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0;--d-mobile:none"
      class="ghk3KwpxuX gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--d-mobile:none"
      class="gijjC6Ktbw gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggZLlUMA-Xf_background_mobile_image_src }}" srcset="{{ section.settings.ggZLlUMA-Xf_background_mobile_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggZLlUMA-Xf_background_tablet_image_src }}" srcset="{{ section.settings.ggZLlUMA-Xf_background_tablet_image_src }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggZLlUMA-Xf_background_desktop_image_src }}" data-src="{{ section.settings.ggZLlUMA-Xf_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:auto;--w-tablet:100%;--w-mobile:auto"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grUDpUHE8_"
        class="grUDpUHE8_"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:32px;--mb:32px;--mt-mobile:28px;--mb-mobile:28px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:23px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrUDpUHE8__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtW5uehLVN"}' data-id="gtW5uehLVN" id="gtW5uehLVN" data-same-height-subgrid-container class="gtW5uehLVN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:42px;--cg:30px;--cg-tablet:30px;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:space-between"
      class="gTxkjn_tYZ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gr2If5jVi0 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gr2If5jVi0"
      data-id="gr2If5jVi0"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:8px;--mb-mobile:8px;--mb-tablet:12px;--jc:left"
      className="gr2If5jVi0"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":26,"mobile":25,"tablet":25}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gr2If5jVi0"
                      style="--cg:12px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:25px;--size-mobile:25px"
                        >
                          <svg data-id="517944344645207190" xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
<circle cx="12.5" cy="13.1016" r="12.5" fill="#FF8852"/>
<path d="M13.9233 6.9652V18.6016H11.8153V9.01633H11.7472L9.02557 10.755V8.82315L11.9176 6.9652H13.9233Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:17px;--size-mobile:17px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggr2If5jVi0_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gmfDn7ywOp ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gmfDn7ywOp"
      data-id="gmfDn7ywOp"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb-mobile:21px;--mt-tablet:0px;--jc:left"
      className="gmfDn7ywOp"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"baseline"},"iconWidth":{"desktop":4,"mobile":4,"tablet":5}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:8px;--pl-tablet:8px;--pt-tablet:0px;--pl-mobile:8px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:11px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gmfDn7ywOp"
                      style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
                        >
                          <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmfDn7ywOp_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gmfDn7ywOp"
                      style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
                        >
                          <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggmfDn7ywOp_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:space-between"
      class="gqduM8AlD_ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gh3ZDm1FLR ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gh3ZDm1FLR"
      data-id="gh3ZDm1FLR"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:8px;--mb-mobile:8px;--mb-tablet:12px;--jc:left"
      className="gh3ZDm1FLR"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":26,"mobile":25,"tablet":25}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gh3ZDm1FLR"
                      style="--cg:12px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:25px;--size-mobile:25px"
                        >
                          <svg data-id="517944355600729238" xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
<circle cx="12.5" cy="13.1016" r="12.5" fill="#FF8852"/>
<path d="M8.06534 18.6016V17.0788L12.1051 13.1186C12.4915 12.7285 12.8134 12.3819 13.071 12.0788C13.3286 11.7758 13.5218 11.4822 13.6506 11.1982C13.7794 10.9141 13.8438 10.611 13.8438 10.2891C13.8438 9.92164 13.7604 9.60724 13.5938 9.34588C13.4271 9.08073 13.1979 8.87618 12.9062 8.73224C12.6146 8.5883 12.2831 8.51633 11.9119 8.51633C11.5294 8.51633 11.1941 8.59588 10.9062 8.75497C10.6184 8.91027 10.3949 9.13187 10.2358 9.41974C10.0805 9.70762 10.0028 10.0504 10.0028 10.4482H7.99716C7.99716 9.70952 8.16572 9.06747 8.50284 8.52202C8.83996 7.97656 9.30398 7.55421 9.89489 7.25497C10.4896 6.95573 11.1714 6.80611 11.9403 6.80611C12.7206 6.80611 13.4063 6.95194 13.9972 7.24361C14.5881 7.53527 15.0464 7.9349 15.3722 8.44247C15.7017 8.95005 15.8665 9.52959 15.8665 10.1811C15.8665 10.6167 15.7831 11.0447 15.6165 11.4652C15.4498 11.8857 15.1563 12.3516 14.7358 12.8629C14.3191 13.3743 13.7339 13.9936 12.9801 14.7209L10.9744 16.7607V16.8402H16.0426V18.6016H8.06534Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:17px;--size-mobile:17px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggh3ZDm1FLR_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gPC66aSWpF ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gPC66aSWpF"
      data-id="gPC66aSWpF"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb-mobile:21px;--jc:left"
      className="gPC66aSWpF"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"baseline"},"iconWidth":{"desktop":4,"mobile":4,"tablet":5}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:8px;--pl-mobile:8px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:11px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gPC66aSWpF"
                      style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
                        >
                          <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPC66aSWpF_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gPC66aSWpF"
                      style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
                        >
                          <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPC66aSWpF_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:space-between"
      class="goqSCMRRA9 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gGYGJrXiGs ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gGYGJrXiGs"
      data-id="gGYGJrXiGs"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:8px;--mb-mobile:8px;--mb-tablet:12px;--jc:left"
      className="gGYGJrXiGs"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":26,"mobile":25,"tablet":25}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gGYGJrXiGs"
                      style="--cg:12px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:25px;--size-mobile:25px"
                        >
                          <svg data-id="517944363720901782" xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
<circle cx="12.5" cy="13.1016" r="12.5" fill="#FF8852"/>
<path d="M12.4993 18.7607C11.6811 18.7607 10.9538 18.6205 10.3175 18.3402C9.6849 18.0599 9.1849 17.6697 8.81747 17.1697C8.45005 16.6697 8.25497 16.0921 8.23224 15.4368H10.3686C10.3875 15.7512 10.4917 16.0258 10.6811 16.2607C10.8705 16.4917 11.1224 16.6716 11.4368 16.8004C11.7512 16.9292 12.1035 16.9936 12.4936 16.9936C12.9103 16.9936 13.2796 16.9216 13.6016 16.7777C13.9235 16.63 14.1754 16.4254 14.3572 16.1641C14.5391 15.9027 14.6281 15.6016 14.6243 15.2607C14.6281 14.9084 14.5372 14.5978 14.3516 14.3288C14.166 14.0599 13.897 13.8497 13.5447 13.6982C13.1963 13.5466 12.7758 13.4709 12.2834 13.4709H11.255V11.8459H12.2834C12.6887 11.8459 13.0429 11.7758 13.3459 11.6357C13.6527 11.4955 13.8932 11.2985 14.0675 11.0447C14.2417 10.7872 14.3269 10.4898 14.3232 10.1527C14.3269 9.82315 14.2531 9.53717 14.1016 9.29474C13.9538 9.04853 13.7436 8.85724 13.4709 8.72088C13.2019 8.58452 12.8857 8.51633 12.522 8.51633C12.166 8.51633 11.8364 8.58073 11.5334 8.70952C11.2304 8.8383 10.986 9.02202 10.8004 9.26065C10.6148 9.4955 10.5163 9.7758 10.505 10.1016H8.47656C8.49171 9.45005 8.67921 8.87808 9.03906 8.38565C9.4027 7.88944 9.88755 7.50308 10.4936 7.22656C11.0997 6.94626 11.7796 6.80611 12.5334 6.80611C13.3099 6.80611 13.9841 6.95194 14.5561 7.24361C15.1319 7.53149 15.5769 7.91974 15.8913 8.40838C16.2057 8.89702 16.3629 9.43679 16.3629 10.0277C16.3667 10.683 16.1735 11.2322 15.7834 11.6754C15.397 12.1186 14.8894 12.4084 14.2607 12.5447V12.6357C15.0788 12.7493 15.7057 13.0523 16.1413 13.5447C16.5807 14.0334 16.7985 14.6413 16.7947 15.3686C16.7947 16.0201 16.6091 16.6035 16.2379 17.1186C15.8705 17.63 15.3629 18.0315 14.7152 18.3232C14.0713 18.6148 13.3326 18.7607 12.4993 18.7607Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:17px;--size-mobile:17px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGYGJrXiGs_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gRtqPZIeg1 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gRtqPZIeg1"
      data-id="gRtqPZIeg1"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb-mobile:21px;--jc:left"
      className="gRtqPZIeg1"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"baseline"},"iconWidth":{"desktop":4,"mobile":4,"tablet":5}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:8px;--pl-tablet:8px;--pr-tablet:12px;--pl-mobile:8px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:11px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gRtqPZIeg1"
                      style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
                        >
                          <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRtqPZIeg1_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gRtqPZIeg1"
                      style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
                        >
                          <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRtqPZIeg1_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:space-between"
      class="gmT30c8dMQ gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gDcZVVCpoi ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gDcZVVCpoi"
      data-id="gDcZVVCpoi"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:8px;--mb-mobile:8px;--mb-tablet:12px;--jc:left"
      className="gDcZVVCpoi"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":26,"mobile":25,"tablet":25}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gDcZVVCpoi"
                      style="--cg:12px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:26px;--size-tablet:25px;--size-mobile:25px"
                        >
                          <svg data-id="517944372814152854" xmlns="http://www.w3.org/2000/svg" width="25" height="26" viewBox="0 0 25 26" fill="none">
<circle cx="12.5" cy="13.1016" r="12.5" fill="#FF8852"/>
<path d="M7.99574 16.4425V14.7663L12.9332 6.9652H14.331V9.35156H13.4787L10.1548 14.6186V14.7095H17.0469V16.4425H7.99574ZM13.5469 18.6016V15.9311L13.5696 15.1811V6.9652H15.5582V18.6016H13.5469Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:17px;--size-mobile:17px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDcZVVCpoi_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gtcD2fBamE ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gtcD2fBamE"
      data-id="gtcD2fBamE"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb-mobile:0px;--jc:left"
      className="gtcD2fBamE"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"baseline"},"iconWidth":{"desktop":4,"mobile":4,"tablet":5}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:8px;--pl-mobile:8px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:11px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gtcD2fBamE"
                      style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
                        >
                          <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtcD2fBamE_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gtcD2fBamE"
                      style="--cg:8px;--cg-mobile:7px;--ai:center;--ai-tablet:baseline;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:4px;--size-tablet:5px;--size-mobile:4px"
                        >
                          <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggtcD2fBamE_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pb:12px;--pt-mobile:0px;--pb-mobile:0px" class="gKd3ZpsqoI ">
      
    <div data-id="gKd3ZpsqoI" class="gp-flex gp-justify-start mobile:gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#9E9E9E" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#9E9E9E;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#9E9E9E;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#9E9E9E;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-611092465230807851 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/50off-app/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=611092453906187117&sectionId=611092465230807851)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCd5IjLeN0_background_desktop_image_src","label":"ggCd5IjLeN0_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/kv_7a3364bf-6361-40d4-9e7d-f38dfc362513.jpg"},{"type":"html","id":"ggCd5IjLeN0_background_tablet_image_src","label":"ggCd5IjLeN0_background_tablet_image_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/hero.png"},{"type":"html","id":"ggCd5IjLeN0_background_tablet_video","label":"ggCd5IjLeN0_background_tablet_video","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggCd5IjLeN0_background_tablet_videoHtml5","label":"ggCd5IjLeN0_background_tablet_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggCd5IjLeN0_background_mobile_image_src","label":"ggCd5IjLeN0_background_mobile_image_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/igogomi01_1d108719-d7e9-447a-a694-0f8a638b9653.jpg"},{"type":"html","id":"ggZLlUMA-Xf_background_desktop_image_src","label":"ggZLlUMA-Xf_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/kv000_fd83a6e2-bccf-4d35-a457-2c6489567c4e.jpg"},{"type":"html","id":"ggZLlUMA-Xf_background_tablet_image_src","label":"ggZLlUMA-Xf_background_tablet_image_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/hero.png"},{"type":"html","id":"ggZLlUMA-Xf_background_tablet_video","label":"ggZLlUMA-Xf_background_tablet_video","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggZLlUMA-Xf_background_tablet_videoHtml5","label":"ggZLlUMA-Xf_background_tablet_videoHtml5","default":"https://media.w3.org/2010/05/sintel/trailer.mp4"},{"type":"html","id":"ggZLlUMA-Xf_background_mobile_image_src","label":"ggZLlUMA-Xf_background_mobile_image_src","default":"https://cdn.shopify.com/s/files/1/0540/8820/4467/files/igogomi02_5b12a774-064e-4a44-bd72-3d7ec1e25846.jpg"},{"type":"html","id":"ggrUDpUHE8__text","label":"ggrUDpUHE8__text","default":"Built to dominate the toughest terrain and tested to exceed every limit."},{"type":"html","id":"ggr2If5jVi0_childItem_0","label":"ggr2If5jVi0_childItem_0","default":"<p>Frame Strength</p>"},{"type":"html","id":"ggmfDn7ywOp_childItem_0","label":"ggmfDn7ywOp_childItem_0","default":"<p><strong>Built to handle 400 lbs static load</strong></p>"},{"type":"html","id":"ggmfDn7ywOp_childItem_1","label":"ggmfDn7ywOp_childItem_1","default":"<p><strong>Load:</strong> 400 lbs Static Load</p>"},{"type":"html","id":"ggh3ZDm1FLR_childItem_0","label":"ggh3ZDm1FLR_childItem_0","default":"<p>Suspension Control</p>"},{"type":"html","id":"ggPC66aSWpF_childItem_0","label":"ggPC66aSWpF_childItem_0","default":"<p><strong>Shock Durability:</strong> 500,000 Compression</p>"},{"type":"html","id":"ggPC66aSWpF_childItem_1","label":"ggPC66aSWpF_childItem_1","default":"<p><strong>Bump Sensitivity:</strong> 95% Compliance</p>"},{"type":"html","id":"ggGYGJrXiGs_childItem_0","label":"ggGYGJrXiGs_childItem_0","default":"<p>Wheel Precision&nbsp;</p>"},{"type":"html","id":"ggRtqPZIeg1_childItem_0","label":"ggRtqPZIeg1_childItem_0","default":"<p><strong>Rim Impact:</strong> ASTM F2043 Lvl 2</p>"},{"type":"html","id":"ggRtqPZIeg1_childItem_1","label":"ggRtqPZIeg1_childItem_1","default":"<p><strong>Lateral Stiffness:</strong> 75 N/mm</p>"},{"type":"html","id":"ggDcZVVCpoi_childItem_0","label":"ggDcZVVCpoi_childItem_0","default":"<p>Brake Confidence&nbsp;</p>"},{"type":"html","id":"ggtcD2fBamE_childItem_0","label":"ggtcD2fBamE_childItem_0","default":"<p><strong>Pad Wear:</strong> &lt; 0.5mm/500 Miles</p>"},{"type":"html","id":"ggtcD2fBamE_childItem_1","label":"ggtcD2fBamE_childItem_1","default":"<p><strong>Heat Dissipation:</strong> &lt; 200°C Max Braking</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}